/*-------- Общее для всех страниц -------- */
body{
    background: #f8f8f8;
    margin: 0px;
}

a{
    text-decoration: none;
}

a:hover{
    color: cornflowerblue;
    text-decoration: underline;
}

.menu{
    font-weight: bold;
    font-family: Verdana;
    font-size : 14px;
    list-style-type : none;
    text-transform : uppercase;
    display: flex;
    flex-wrap: wrap;
    margin-right: 30px;
    padding-left: 0px;
}

.menu li{
    padding: 5px 5px;
}

.menu a{
    color: whitesmoke;
}

.menu a:hover{
    color: cornflowerblue;
    text-decoration: underline;
}

h1 {
    color: #DDEFFF;
    font-family: Verdana; 
}

h2{
    text-transform: uppercase;
    text-align: center;
    margin: 0px 0px;
    padding: 20px;
    background-color: #DDEFFF;
    color: dimgray;
}

header{
    color: black;
    height: 180px;
    font-size : 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
/*    background: url(images/header_image.jpg) no-repeat #4A4A4A;*/
    position: relative;

}

header a:hover{
    text-decoration: none;
}

header img{
    width: 100px;
    margin: auto 30px;
}

.header_image{
    width: 100%;
    height: 100%;
    position: absolute;
    margin: 0px auto;
    z-index: -1;
}


footer{
    text-align: right;
    background: #4A4A4A;
    height: 60px;
    padding: 20px;
    margin-top: 50px;
    color: whitesmoke;
}

/*-------- Страница главная -------- */

.page_main .container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
    margin:20px;
}

.page_main p{
    text-align: center;
}

.imageblock_main{
    width: 60%;
    height: 60%;
}

/*-------- Страница каталога -------- */
.page_catalog p{
    padding-left: 15px;
    font-size: 18px;
    font-weight: 600;
    line-height: 40px;
    background: #eaeaea; 
}

.anchor{
    margin-top: 30px;
    text-align: center;
}

.anchor a:first-child{
    border-left: 2px solid gray;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.anchor a:last-child{
    border-right: 2px solid gray;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.anchor a{
    color:black;
    border:  2px solid gray;
    border-right: 0px;
    border-left: 0px;
    margin: 0px -2px;
    padding: 8px;
    background: #eaeaea;
    text-transform : uppercase;
}


.catalog{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.catalog img{
    margin: 15px;
    width: 200px;
}

.catalog img:hover{
    transform: scale(1.15);
    border-radius: 50px;
    transition: all 0.5s;
}

.catalog span{
    display: block;
    text-align: center;
}


/*-------- Страница товара -------- */
.page_product h3{
    color: black;
    font-size: 18px;
    font-weight: 400;
    background: #eaeaea; 
    overflow: hidden;
    margin-top: 50px;
}

.buy{
    margin: 20px 20px auto auto;
    width: 120px;
    height: 50px;
    display: block;
}

.buy:hover{
    background: #DDEFFF;
}

.buy:active{
    background: #396C99;
    color: aliceblue;
}

.buy+h3, .proddescr_full{
    clear:both;
}


.proddescr_short p:first-letter,
.proddescr_full p:first-letter{
    font-weight: bold;
    font-family: Courier New;
    font-size : 24px;
}

.proddescr_short{
    color: #707070;
    font-size: 14px;
    font-style: italic;
    line-height: 16px;
}

.proddescr_full{
    color: #484343;
    font-size : 16px;
    font-weight: 400;
    line-height: 24px;
    text-align:left;
}

.prodimage_main{
    width: 450px;
    border: 2px solid gray;
    opacity: 0.25;
    float:left;
    margin: 30px;
}
.prodimage_main:hover{
    width: 450px;
    border: 2px solid transparent;
    opacity: 1;
}

.product_name{
    font-size: 22px;
    font-weight: bold;
    line-height: 24px;
}

table, td{
    border: 1px solid #000;
    border-collapse: collapse;
    padding: 10px 20px;
}

table{
    height: 500px;
    margin: auto;
}

td{
    text-align: center;
}

td:first-child{
    text-align: left;
    padding-left: 20px;
}

td ul{
    text-align: left;
    padding-left: 20px;
}

tr:first-child td:first-child{
    text-align: center;
    font-weight: 600;
    padding: 0px 0px;
}

tr:nth-child(3) td:first-child{
    text-align: center;
    padding-left: 0px;
}


/*-------- Страница контакты -------- */
.page_contacts .container{
    margin: 0px 20px;
}
.page_contacts h3{
    color: black;
    font-size: 20px;
    font-weight: 600;
    background: skyblue;
    padding-left: 20px;
    margin: 20px -20px;
}

form span{
    float: left;
    width : 70px;
}

input[type="text"],
input[type="email"],
select{
    color: midnightblue;
    width: 200px;
    height: 18px;
    font-size: 14px;
    font-style: italic;
}

input[type="email"]:focus{
    color: red;
    background-color: gainsboro;
}

input[type="text"]{
    text-transform: capitalize;
}

iframe{
    width: 100%;
    height: 374px;
}