body{
    width: 1200px;
    margin: 0px auto;
    background: #f8f8f8;
}

.border{
    border: 1px solid gray;
}

.catalog{
    width: 760px; 
    margin: 0px auto;
}

.catalog p{
    padding-left: 15px;
    font-size: 18px;
    font-weight: 600;
    line-height: 40px;
    background: #eaeaea; 
}

.catalog img{
    margin: 15px 0px;
    width: 200px;
    padding-left: 40px;
}

.catalog br+a{
    padding-left: 100px;
}

.catalog br+a+a{
    padding-left: 190px;
    padding-right: 200px;
}

.descrprod_short{
    color: #707070;
    font-size: 14px;
    font-style: italic;
    line-height: 16px;
}

.descrprod_full{
    color: #484343;
    font-size : 16px;
    font-weight: 400;
    line-height: 24px;
    text-align:left;
}

.descrprod_charact > li{
    color: black;
    font-size : 14px;
    line-height: 30px;
    list-style: none; 
    background-image: url(images/icon_mark_list.png);
    background-repeat: no-repeat;
    background-position: 0px 8px;
    background-size: 18px;
    padding-left: 24px;
}

form label{
    float: left;
    width : 70px;
}

h1{
    color: #7C7C7CFF;
    text-align : center;
    font-family: Verdana;  
}

h2{
    text-transform: uppercase;
    text-align: center;
}

h3{
    color: black;
    font-size: 18px;
    font-weight: 400;
    background: #eaeaea;  
}

.h3_contact {
    color: aliceblue;
    font-size: 20px;
    font-weight: 600;
    background: cornflowerblue;
}

.imageblock_main{	
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
}

.imagecat_main{
    width: 450px;
    border: 1px solid #000;
}

.input{
    color: midnightblue;
    width: 200px;
    height: 18px;
    font-size: 14px;
    font-style: italic;
}

.menu li{
    font-weight: bold;
    font-family: Verdana;
    font-size : 14px;
    list-style-type : none;
    text-transform : uppercase;
}

.menu li a{
    color: cornflowerblue;
}

.product_name{
    font-size: 22px;
    font-weight: bold;
    line-height: 24px;
}

footer{
    text-align: center;
}